# IDEs and editors
.idea
.project
.classpath
.c9
*.sublime-workspace
.vscode
scratchpad.*

# folders
.cache
.idea
node_modules/
coverage/
dist
demo

# files
package-lock.json
yarn.lock
demo.ts
index.html
yarn-error.log
